/project/output/
/project/analysis/test.ipynb
/project/input/.DS_Store
/project/input/revealed_data/.DS_Store
.DS_Store
/ResIRF.egg-info/
/project/test.py
/project/input/prices/
/project/input/scenarios/
/project/analysis/preprocessing/building_stock/archetypes/ademe_dpe_buildingmodel_medium/old/
/project/input/stock/old/
